@import url('https://fonts.googleapis.com/css?family=Roboto');


/*************
Genral
*******/
/** {border: 1px solid black;}*/

body {
  margin: 0 auto;
  max-width: 980px;
  font-family: "Roboto";
}

main {
  margin: 0 5px;
}

/*Header*/

h1 {
  background-color: brown;
  color: #000;
  text-align: center;
  padding-right: 40px;
}

.top img {
  width: 50px;
  height: 50px;
  float: right;
  position: relative;
  bottom: 65px;
  right: 10px;
/*  margin-top: -50px;*/
  border: 1px solid black;
}

a {
   text-decoration: none;
}


h2 {
  background-image: linear-gradient(grey, #666, transparent);
  padding-bottom: 3px;
  border-bottom: 2px solid #005;
}

div {
  color: red;
  border: 5px solid #ad8595;
  font-size: 25px;
}

kbd {
  background-color: lightgray;
  padding: 0 2px;
}
span, .example {
  border: 1px solid black;
  color: #000;
  margin: 2px:
}

span {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
}

.blabla {
  line-height: 1.2;
  background-color: lightgrey;
  padding: 0 2px;
}

ul {
  padding-left: 0;
  margin: 0 5px;
}


ul li {
  background-color: yellow;
  border: 2px solid blue;
  margin: 7px auto;
  border-radius: 7%;
  font-size: 1.5em;
  list-style: none;
  text-align: center;
}

/********************
FOOTER
*********************/

footer {
  font-size: 1.4em;
  text-align: center;
  padding-top: 45px;
  color: #000;
  margin: 0 auto;

  border-top: 1px dotted grey;
}

 .social-icon {
    width: 60px;
    height: 60px;
    margin: 5px 15px;
  }


/*Media Querie*/

@media (min-width: 1000px) {
  
   ul li {
    display: inline-block;
    font-size: 1.2em;
    margin: 5px 20px 5px;
    padding: 0 2px;
    }
  
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
  }
  
  footer {
    font-size: 0.75em;
  }

}

